/************
*
* FONTS
*
*************/
//Google font import
// @import url('https://fonts.googleapis.com/css?family=');

$displayFont: 	serif;
$bodyFont:	 	  sans-serif;

/************
*
* COLORS
*
*************/
$white: 				#FFFFFF;
$black:         #000000;
$background: 		#dbdddd;
$darkGrey: 			#5b6264;
$lightGrey: 		#a8a8a8;
$teal:					#32e0c8;
$blue:					#0094aa;

/************
*
* BREAKPOINTS
*
*************/
$small 			  : 39.955em;
$medium 		  : 64em;
$large			  : 86em;
$small-only 	: "max-width: 39.955em";
$small-up   	: "min-width: 39.96em";
$medium-up 	  : "min-width: 64.063em";
$large-up	    : "min-width: 86.063em";
$xlarge-up		: "min-width: 126.063em";

/************
*
* MIXINS
*
*************/
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transition-delay($delays...) {
	-webkit-transition-delay: $delays;
	-moz-transition-delay: $delays;
	-ms-transition-delay: $delays;
	-o-transition-delay: $delays;
	transition-delay: $delays;
}

@mixin border-radius($radius) {
  	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin transform-style($val) {
	-webkit-transform-style: $val;
	-moz-transform-style: $val;
	-ms-transform-style: $val;
	-o-transform-style: $val;
	transform-style: $val;
}

@mixin transform-origin($val) {
	-webkit-transform-origin: $val;
	-moz-transform-origin: $val;
	-ms-transform-origin: $val;
	-o-transform-origin: $val;
	transform-origin: $val;
}

@mixin box-sizing($val) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	-ms-box-sizing: $val;
	box-sizing: $val;
}

@mixin font-feature($val) {
	-moz-font-feature-settings: $val;
	-ms-font-feature-settings: $val;
	-o-font-feature-settings: $val;
	-webkit-font-feature-settings: $val;
	font-feature-settings: $val;
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

