@import './base/normalize';
@import './base/settings';
@import './base/base';

body {
  background-color: $background;
  height: 100vh;
  width: 100vw;
  color: $darkGrey;
}

#div__app-wrapper {
  padding: 12vw;
}

#div__app-header, #div__app-content {
  width: 90%;
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
  img {
    margin: 0 auto;
    max-width: 30rem;
  }
  h3 {
    margin: 0;
    font-weight: 400;
  }
}

#puzzle {
  display: flex;
  justify-content: center;
  margin: 6rem 0;
  span {
    height: 2.8rem;
    width: 2.8rem;
    line-height: 2.8rem;
    font-size: 2.4rem;
    border-bottom: 1px solid $darkGrey;
  }
}

#guesses {
  text-align: center;
  margin: 3rem 0;
  span {
    height: 2.2rem;
    width: 2.2rem;
    line-height: 2.2rem;
    font-size: 1.8rem;
    color: $lightGrey;
  }
}

span {
    text-align: center;
    display: inline-block;
    margin: 0 .2rem;
    text-transform: uppercase;
}

.button {
  padding: 1.75rem 8rem 1.5rem;
  border: none;
  border-bottom: 3px solid darken($blue, 10%);
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #555;
  letter-spacing: 1px;
  @include transition(.3s ease all);
  &:hover {
    cursor: pointer;
    background-color: lighten($blue, 5%);
    box-shadow: 3px 3px 6px #999;
  }
}

